
html{
  font-family: "Lato";
  color: #fff;
}
body{
  background: transparent url('background.jpg') no-repeat center center fixed;
  background-size: cover;

  /* Prepare for flex box */
  flex: 1 1 0%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
h1{
  display: inline-block;
  font-size: 11vmin;
  font-weight: 400;
  margin: 0;
  margin-top: 0;
  line-height: 1.2em;
  font-family: "Muli";
}
h2{
  display: inline-block;
  font-size: 14px;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-weight: 900;
  font-style: normal;
}
p{
  text-transform: none;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
}
#flex-horizontal{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}
#flex-horizontal #spacer{
  width: 8vw;
  max-width: 80px;
}
#flex-vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  height: 100%;
  width: 100%;
  max-width: 500px;
  position: relative;
  box-sizing: border-box;
}
.box-bottom
{
  position: relative;
  bottom: 20px;
  left: 20px;
}
.btn{
  background: #222;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: table;
  margin-bottom: 20px;
}
.btn a{
  padding-top: 1em;
  padding-right: 1.44em;
  padding-right: calc(1.44em - .18em);
  padding-bottom: 1em;
  padding-left: 1.44em;
  display: inline-block;
  line-height: 1em;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Lato";
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .18em;
  font-weight: 700;
  font-style: normal;
}
.btn span{
  display: inline-block;
}

/* override default feather style... */
.hidden-lightbox{
    display: none;
}
.lightbox {
  background: rgba(256,256,256, 0.85);
}
.lightbox h2{
  position:absolute;
  top: 0.3em;
  font-weight: 300;
  font-size: 16px;
}
.lightbox form{
    margin-top: 20px;
}
.lightbox input{
  padding: 12px;
  margin-top: 15px;
  border-radius: 2px;
  padding: 1em 2.5em;
  color: #000;
  border: none;
  font-family: "Lato";
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .18em;
  font-weight: 700;
}
.lightbox .email{
  text-align: left;
}
.lightbox .button input{
    background-color: rgba(255,255,255,.7);
    margin-bottom: 5px;
}
.lightbox .featherlight-content{
  width: 500px;
  max-width: 90%;
  padding: 25px;
  color: #fff;
  background: rgba(0,0,0, 0.7);
  border-radius: 5px;
}
.lightbox .featherlight-close{
    color: #fff;
    background: #222;
}
